/** 选项卡 **/
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
    border-color: #d6d4d4;
    background-color: #FFF;
}

.tabs-header, .tabs-tool {
    background-color: #FFF;
}
.tabs-selected .icon-mini-refresh{
	background:url('../images/mini_refresh_selected.png') no-repeat center center;
}
.tabs li.tabs-selected a.tabs-close {
  background: url('../images/tabs_icons_close.png') no-repeat center;
}

.tabs li.tabs-selected a.tabs-inner {
	background: #f3bd5c;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #f3bd5c;
    border-bottom-color: #f3bd5c;
    min-width: 188px;
}

.tabs li.tabs-selected a.tabs-inner .tabs-title{
	font-weight: bold; color:#FFF;
}
.tabs-title {
	font-size: 22px;font-weight: bold;color: #FFF;
	margin-left:15px;
}

.tabs li.tabs-selected a.tabs-inner,.tabs li.tabs-selected a.tabs-inner:hover{
	background: #f3bd5c;
    color: #FFF;
    filter: none;
}

.tabs li a.tabs-inner,.tabs li a.tabs-inner:hover{
	background: #808a96;
    color: #000000;
    filter: none;
    min-width: 188px;
}
/** 图标 **/
.tabs-icon {
	top: 20px;
}
.icon-zw {
	background: url('../images/zw.png') no-repeat center;width: 27px;height: 30px;
}
.icon-lc {
	background: url('../images/lc.png') no-repeat center;width: 27px;height: 30px;
}