<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title> <%includeJSP("/static/include/inc.jsp",{}){}%>
<script src="${path}${adminPath}/view/common/js/layer/layer.js" type="text/javascript"></script>
<script type="text/javascript">
    SZUtilsExtEasyUIListPage.datagrid.pagination();
    //初始化
    $(function() {
    });

    /**
     * 查询
     */
    function doSearch() {
        // 使用Form2Json插件处理,同时过滤掉空数据
        var searchParam = $('#searchForm').form2json({
            allowEmptySingleVal : false
        });
        $('#formGrid').datagrid('load', searchParam);
    }

    /**
     * 清空
     */
    function doClear() {
        $('#searchForm').form('reset');
        $('#formGrid').datagrid('load', {});
    }

    var GridFormatter = {
        "TIME" : function(val, row, index) {
            if (typeof (val) == "undefined") {
                return "";
            }
            var date = new Date(val);
            return date.format("yyyy-MM-dd hh:mm:ss");
        },
        "N_STATUS" : function(val, row, index) {
            if (false)
                return val;
            else if (val == "-1")
                return "失败";
            else if (val == "0")
                return "未解压";
            else if (val == "1")
                return "成功";
            else
                return "未知[" + val + "]";
            return val;
        }
    };

    /**
     * 列表行格式化
     * 
     * @param index
     *            索引
     * @param row
     *            行值
     */
    function rowStyler(index, row) {
        // 如果是失败
        if (-1 === row.N_STATUS) {
            return 'color:#EA0000;font-weight:bold;';
        }
        //成功
        if (1 === row.N_STATUS) {
            return 'color:#007979;font-weight:bold;';
        }
        // 未解压
        if (0 === row.N_STATUS) {
            return 'color:#FF8040;font-weight:bold;';
        }
    }

    /***解压***/
    function doUnpack() {
        var rows = $('#formGrid').datagrid('getSelections');
        var ids = "";
        var msg = "确认要重新解压选择的数据吗?";
        var url = '${path}${adminPath}/unpmonitor/unpack/';
        if (rows.length > 0) {
            parent.$.messager.confirm("提示!", msg, function(res) {
                if (res) {
                    for ( var i = 0; i < rows.length; i++) {
                        var id = rows[i].ID;
                        ids += id;
                        if (i != rows.length - 1) {
                            ids += ",";
                        }
                    }
                    layer.msg('开始执行解压操作,请勿刷新页面!', {
                        icon : 16,
                        shade : 0.3,
                        time : false
                    });
                    $.ajax({
                        url : url + ids,
                        // 设置类型
                        //dataType : 'json',
                        // 设置请求方法
                        type : "POST",
                        // 成功回调
                        success : function(result) {
                            //关闭提示层
                            layer.closeAll();
                            $('#formGrid').datagrid('reload');
                            //成功的情况
                            if (result.success) {
                                parent.sy.messagerShow({
                                    msg : "操作成功!",
                                    title : '提示'
                                });
                                return;
                            }
                            layer.alert(result.result, {
                                title: '错误',
                                icon: 5,
                                area: ['800px', '600px'],
                                skin : 'layui-layer-molv',
                                closeBtn : 0
                            });
                            return;
                        },
                        // 失败回调
                        error : function(XMLHttpRequest, textStatus, errorThrown) {
                            //关闭提示层
                            layer.closeAll();
                            var result = jQuery.parseJSON(XMLHttpRequest.responseText);
                            top.$.messager.alert('操作失败', "操作失败[" + result.errorDesc + "]");
                        }
                    });
                }
            });
        } else {
            top.$.messager.alert("提示", "请选择要修改的对象!");
        }
    }
</script>
</head>
<body>
    <!-- 表格 -->
    <table id="formGrid" style="width: auto; height: auto" class="easyui-datagrid" title="" toolbar="#searchForm-toolbar" rownumbers="true" fitColumns="true" fit="true" url="${path}${adminPath}/unpmonitor" pagination="true" pageList="[50,100,150,200]" pageSize="50" data-options="rowStyler:rowStyler,method:'get'">
        <thead>
            <tr>
                <th data-options="field:'ID',checkbox:true"></th>
                <th field="V_TENDER_PROJECT_NAME" align="left" width="100">招标项目名称</th>
                <th field="V_ORG_CODE" align="left" width="100">组织机构代码</th>
                <th field="V_UNIFY_CODE" align="left" width="100">统一社会信用代码</th>
                <th field="V_BIDDER_NAME" align="left" width="100">投标人名称</th>
                <th field="V_ZIPX_FILE_PATH" align="left" width="100">Zipx文件全路径</th>
                <th field="V_TARGET_DIR_PATH" align="left" width="100">解压目标路径</th>
                <th field="N_TIME_CONSUMING" align="left" width="100">耗时(毫秒)</th>
                <th field="N_STATUS" align="left" width="100" formatter="GridFormatter.N_STATUS">解压状态</th>
                <th field="N_CREATE_TIME" align="left" width="100" formatter="GridFormatter.TIME">创建时间</th>
                <th field="N_FINSH_TIME" align="left" width="100" formatter="GridFormatter.TIME">解压结束时间</th>
            </tr>
        </thead>
    </table>
    <!-- 搜索工具栏 -->
    <div id="searchForm-toolbar" style="padding: 5px; height: auto">
        <div>
            <form id="searchForm">
                <label>招标项目名称：</label> <input class="easyui-textbox" style="width: 120px" id="V_TENDER_PROJECT_NAME" name="V_TENDER_PROJECT_NAME" type="text"> <label>投标人名称：</label> <input class="easyui-textbox" style="width: 120px" id="V_BIDDER_NAME" name="V_BIDDER_NAME" type="text"> <label>解压状态：</label><select name="N_STATUS" class="easyui-combobox" panelHeight="auto" style="width: 100px">
                    <option value="">全部</option>
                    <option value="-1">失败</option>
                    <option value="0">未解压</option>
                    <option value="1">成功</option>
                </select> <label>组织机构代码：</label> <input class="easyui-textbox" style="width: 120px" id="V_ORG_CODE" name="V_ORG_CODE" type="text"> <label>统一社会信用代码：</label> <input class="easyui-textbox" style="width: 120px" id="V_UNIFY_CODE" name="V_UNIFY_CODE" type="text"> <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="doSearch()">搜索</a> <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-clear'" onclick="doClear()">清空搜索条件</a>
            </form>
        </div>
        <div>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" title="重新解压" onclick="doUnpack()">重新解压</a>
        </div>
    </div>
</body>
</html>