<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <form id="sync-otpd-form" style="text-align: center;">
        <p>
            <label>类型：</label><select class="easyui-combobox" id="V_TYPE" name="V_TYPE" title="" style="width: 150px;" data-options="required:true">
                <option value="房建">房建</option>
                <option value="市政">市政</option>
                <option value="工程监理企业信用评价">工程监理企业信用评价</option>
            </select>
        </p>
        <p>
            <label>年份：</label><select class="easyui-combobox" id="V_YEAR" name="V_YEAR" title="" style="width: 150px;" data-options="required:true">
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
            </select>
        </p>
        <p>
            <label>季度：</label><select class="easyui-combobox" id="V_QUARTER" name="V_QUARTER" title="" style="width: 150px;" data-options="required:true">
                <option value="1">第一季度</option>
                <option value="2">第二季度</option>
                <option value="3">第三季度</option>
                <option value="4">第四季度</option>
            </select>
        </p>
    </form>
</body>
</html>